@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@100;300;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 900px;
}
.homeHeader {
  background: url("https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 80%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
.homeHeader .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.homeh1 {
  font-size: 80px;
  margin-bottom: 30px;
  color: aliceblue;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
  cursor: pointer;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9fbfc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Comfortaa", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  margin-bottom: 2rem;
}
.btnForm {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.btnForm:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.btnForm:active {
  transform: scale(0.9);
}

.ctaBtn {
  background-color: #fff;
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: #0d62a4;
  border: 5px solid #0d62a4;
  transition: color 0.5s ease;
  padding: 10px 20px;
  font-family: "Comfortaa", cursive;
  font-weight: 800;
  font-size: 1.05em;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.ctaBtn::before {
  content: "";
  inset: 0 0 0 0;
  margin: auto;
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: #0d62a4;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.7s ease;
}

.ctaBtn:active {
  transform: scale(0.9);
}

.ctaBtn:hover {
  color: #fff;
}

.ctaBtn:hover:before {
  height: 200px;
  width: 200px;
  border-radius: 0;
}

/* ----------------------------------------------------INIT CONNEXION */
.global-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.801);
}
.content-container button {
  padding: 10px 12px;
  font-size: 20px;
  margin-top: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.801);
}
.container-modal {
  position: absolute;
  background: #f1f1f1;
  z-index: 100;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 5px;
}

.hide-modal {
  display: none;
}
.form-auth {
  position: relative;
  z-index: 100;
}

.form-auth h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  padding-bottom: 10px;
}

.form-auth label,
.form-auth input {
  display: block;
  width: 100%;
  font-size: 20px;
}
.form-auth label {
  margin-top: 20px;
  padding-bottom: 5px;
}
.form-auth input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-sign {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin: 30px 0 10px 0;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(83, 83, 83);
  color: #f1f1f1;
}
.bottom-help-txt {
  margin-top: 3px;
  cursor: pointer;
}
.btn-close {
  background: crimson;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: 0px;
  font-size: 20px;
  color: #f1f1f1;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}
